<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liu Zhiheng</title>
</head>
<body>
    <script>
        if(localStorage.getItem('default') == 'Fu Mengyan')
            window.open('./MAMA.html','_self').focus();
        else if(localStorage.getItem('default') == 'Liu Zhiheng')
            window.open('./ZAYN.html','_self').focus();
        else if(localStorage.getItem('default') == 'He Yuhao')
            window.open('./Yuhao.html','_self').focus();
        else
            window.open('./Dir.html','_self').focus();
    </script>
</body>
</html>
