<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedule</title>
    <link rel="stylesheet" href="./css/app.css">
</head>

<body>
    <header>
        <h1 id="week">WEEK </h1>
        <section class="schedule">
            <div class="column" id="time">
                <h3 class="title">Time</h3>
            </div>
            <div class="column">
                <h3 class="title">MONDAY</h3>
                <div class="course" id="MON"></div>
            </div>
            <div class="column">
                <h3 class="title">TUESDAY</h3>
                <div class="course" id="TUE"></div>
            </div>
            <div class="column">
                <h3 class="title">WEDNESDAY</h3>
                <div class="course" id="WED"></div>
            </div>
            <div class="column">
                <h3 class="title">THURSDAY</h3>
                <div class="course" id="THU"></div>
            </div>
            <div class="column">
                <h3 class="title">FRIDAY</h3>
                <div class="course" id="FRI"></div>
            </div>
        </section>
    </header>
    <script src="./js/app.js" defer></script>
    <script src="./js/user/FuMengyan.js"></script>
</body>

</html>